# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/

# Virtual environments
venv/
.venv/
venv_test/

# Access databases
*.accdb

# Log / tijdelijke bestanden
*.log
logs/
development.txt

portefeuille_viewer/config/.user_settings/
